

.navbar {
    background-color: #212121 

}
.navlist li {
    display: inline-block;
}
.navlist li a{
    color: afff;
    margin: 0 10px;
}



img {width:100%;
    height: auto;
}

.elfsight-app-aee36ec5-11aa-4c8d-87ba-66ac25fb35a6 {
    width:110%;
    margin-left: 200px;
    text-align: center;
    
}

