

h1 {    
    text-align: center;
    font-size: 5vw;

}

ul {   
    margin: 0px;
    padding: 0;
    box-shadow: 0px 2px 4px;
    background-color: #bdecb6;
   
}
.navlist li {
    display: inline-block;
    font-size: 30px;
}
.navlist li a{
    color: afff;
    margin: 0 30px;
}


img {width:100%;
    height: auto;
}




body {
    margin-left: 20px;
    margin-right: 20px;
}

.Impressum {
    float: right;
}     




@media only screen and (min-width: 768px) {
body {
    margin-left: 50px;
    margin-right: 50px;
}
}

@media only screen and (min-width: 1190px) {
body { 
        margin-left: 150px;
        margin-right: 150px;


        
    }
    }

@media only screen and (min-width: 768px) {
.IconsD {
            display:flex;
             }
            
            
    .Kunst {
                float: left;
                width: 106%;
                
               }
    .Solar {
                float: center;
                width: 106%;
                
               }
        .Partner {
               float: right;
               width: 106%;
               }
            
           }
           .LogoRathenau {
           
            float: left;
           }
        



@media only screen and (min-width: 1190px) {
.IconsD {
    display:flex;
    margin-left: 70px;
    margin-right: 70px; }

.Kunst {
        float: left;
        width: 80%;
        
       }
.Solar {
        float: center;
        width: 80%;
        
       }
.Partner {
       float: right;
       width: 80%;
       }
    
   }

.LogoRathenau {
            width: 40%;
            float: left;
           }
    
    








