

.navbar {
    background-color: #212121 

}
.navlist li {
    display: inline-block;
}
.navlist li a{
    color: afff;
    margin: 0 10px 
}

body{height:100%;
    background-image: url("Titelbild.jpg");
    background-repeat:  no-repeat;
    background-position-y: 3cm;}